<% if admin_signed_in? %>
	<div id="admin_nav">
		Signed in, my liege.
		<%= link_to "sign out", destroy_admin_session_path, :method => :delete %>
		<%= link_to "New Post", new_post_path %>
	</div>
<% end %>


<% @posts.each do |post| %>
	<div id="post_<%= post.id %>" class="each_post">

		<h1>
			<span class="title_top">
				<%= ohs_title(post.first_title_line) %>
			</span>
			<span class="title_bottom">
				<%= ohs_title(post.last_title_line) %>			
			</span>
		</h1>

		<div id="float_clear"></div>

		<pubDate>
			<p><%= ohs_title(post.created_at.strftime('%b')) %></p>
			<p><%= ohs_date(post.created_at.strftime('%d')) %></p>
			<p><%= ohs_date(post.created_at.strftime('%Y')) %></p>
		</pubDate>

		<p><%= post.body.html_safe if !post.body.nil? %></p>	
				
		<% if admin_signed_in? %>
			<p>
				<%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
				<%= link_to 'Edit', edit_post_path(post) %>
			</p>
		<% end %>

		<%= image_tag post.photo.url if post.photo.exists? %>
				
	</div>
<% end %>

