<% if admin_signed_in? %>
	<div id="admin_nav">
		Signed in, my liege.
		<%= link_to "sign out", destroy_admin_session_path, :method => :delete %>
		<%= link_to "New Post", new_post_path %>
	</div>
<% end%>

<% @posts.each do |post| %>
	<div id="post_<%= post.id %>">
		<div id="post_title_top_left">
			<div id="right_aligned"><h1><%= ohs_top(post.first_title_line) %></h1></div>
		</div>

		<div id="post_title_top_right"></div>
		<div id="float_clear"></div>
		<div id="post_title_bottom_left"></div>

		<div id="post_title_bottom_right">
			<h2><%= ohs_bottom(post.last_title_line) %></h2>
		</div>

		<div id="float_clear"></div>

		<div id="post_date">
			<p class="date">
				<%= post.created_at.strftime('%b') %>
			</p>
			<p class="date">
				<%= post.created_at.strftime('%d') %>
			</p>
			<p class="date">
				<%= post.created_at.strftime('%Y') %>
			</p>
		</div>

		<div id="post_body">
			<p class="body">
				<%= post.body.html_safe if !post.body.nil? %>
			</p>	
		<% if admin_signed_in? %>
			<%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
			<%= link_to 'Edit', edit_post_path(post) %>
		<% end %>
		<%= image_tag post.photo.url if !post.photo.url.nil? %>
		<%= image_tag('/images/divider.png')%>
		</div>
				
	</div>
<% end %>

